[submodule "userspace-rcu"]
	path = userspace-rcu
	url = git://git.lttng.org/userspace-rcu.git
[submodule "uthash"]
	path = uthash
	url = git@github.com:troydhanson/uthash.git
[submodule "libcsv"]
	path = libcsv
	url = git@github.com:rgamble/libcsv.git
[submodule "toy-queue"]
	path = toy-queue
	url = git@github.com:tmick0/toy-queue.git
[submodule "jansson"]
	path = jansson
	url = git@github.com:akheron/jansson.git
[submodule "libmnl"]
	path = libmnl
	url = git://git.netfilter.org/libmnl
[submodule "libv6"]
	path = libv6
	url = git@github.com:dtaht/libv6.git
[submodule "linenoise"]
	path = linenoise
	url = git@github.com:antirez/linenoise.git
[submodule "poptrie"]
	path = poptrie
	url = git@github.com:pixos/poptrie.git
[submodule "tomlc99"]
	path = tomlc99
	url = git@github.com:cktan/tomlc99.git
[submodule "yyjson"]
	path = yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "kcgi"]
	path = kcgi
	url = https://github.com/kristapsdz/kcgi.git
[submodule "ubench.h"]
	path = ubench.h
	url = https://github.com/sheredom/ubench.h.git
[submodule "notcurses"]
	path = notcurses
	url = https://github.com/dankamongmen/notcurses.git
[submodule "pqsort"]
	path = pqsort
	url = https://github.com/Freaky/pqsort.git
